<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    #app {
      width: 600px;
      margin: 10px auto;
    }

    .tb {
      border-collapse: collapse;
      width: 100%;
    }

    .tb th {
      background-color: #0094ff;
      color: white;
    }

    .tb td,
    .tb th {
      padding: 5px;
      border: 1px solid black;
      text-align: center;
    }

    .add {
      padding: 5px;
      border: 1px solid black;
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="add">
      品牌名称:
      <input type="text" v-model="name">
      <input :disabled="name.length === 0" type="button" value="添加" @click="handleAdd">
    </div>
  
    <div class="add">
      品牌名称:
      <input type="text" v-model="searchKey" placeholder="请输入搜索条件">
    </div>
  
    <div>
      <table class="tb">
        <tr>
          <th>编号</th>
          <th>品牌名称</th>
          <th>创立时间</th>
          <th>操作</th>
        </tr>
        <tr v-for="(item, index) in newList" :key="item.id">
          <td>{{ index + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.date | fmtDate('YYYY-MM-DD HH:mm:ss') }}</td>
          <td>
            <a href="#" @click.prevent="handleDelete(index)">删除</a>
          </td>
        </tr>
        <tr v-if="newList.length === 0">
          <td colspan="4">没有品牌数据</td>
        </tr>
      </table>
    </div>
  </div> 
  
  <script src="vue.js"></script>
  <script src="moment.js"></script>
  <script>
    // 1. 品牌列表  √
    // 1.1 data中提供数据
    // 1.2 模板中使用相应的指令
    // 1.3 判断 没有数据，是否显示

    // 2. 添加品牌名称 √
    // 2.1 给按钮注册事件  √
    // 2.2 给文本框做双向绑定  √
    // 2.3 点击按钮，判断文本框内容是否为空，为空什么都不做 √
    // 2.4 点击按钮，文本框内容不为空，添加数据 √
    // 2.5 清空文本框 √

    // 3. 删除 √
    // 3.1 给删除按钮注册事件 √
    // 3.2 删除提示 √
    // 3.3 删除数据？  删除方法传递当前项的索引，根据索引删除 √

    // 4. 搜索
    // 4.1 绑定搜索文本框
    // 4.2 实现搜索功能  计算属性 - searchKey的变化

    // 全局过滤器
    Vue.filter('fmtDate', function (value, fmtString) {
      return moment(value).format(fmtString);
    });

    var vm = new Vue({
      el: '#app',
      data: {
        list: [
          { id: 2, name: 'LV', date: new Date() },
          { id: 4, name: 'Apple', date: new Date() },
          { id: 5, name: 'Lenovo', date: new Date() },
          { id: 6, name: 'Tencent', date: new Date() }
        ],
        // 文本框绑定数据
        name: '',
        // 绑定搜索文本框
        searchKey: ''
      },
      methods: {
        handleAdd() {
          // 判断文本框内容是否为空
          if (this.name.length === 0) {
            alert('请输入内容');
            return;
          }
          // 添加
          this.list.unshift({
            id: 7,
            name: this.name,
            date: new Date()
          });
          // 清空文本框
          this.name = '';
        },
        handleDelete(index) {
          if (!confirm('是否确认删除数据？')) {
            return;
          }
          // 删除数据
          this.list.splice(index, 1);
        }
      },
      // 计算属性
      computed: {
        // 根据searchKey 去list中检索数据，并返回新检索的数据
        newList() {
          // filter会对数组进行过滤，返回新的过滤之后的数组
          // return this.list.filter(function (item) {
          //   // item.name中包含searchKey 满足条件
          //   return item.name.indexOf(this.searchKey) > -1;
          //   // return item.name.startsWith(this.searchKey);
          // }.bind(this));

          // this.list.forEach(function(value,index) {
          // });

          return this.list.filter((item) => {
            // item.name中包含searchKey 满足条件
            return item.name.indexOf(this.searchKey) > -1;
            // return item.name.startsWith(this.searchKey);
          });
        }
      }
    });

  </script>
</body>
</html>
